#modal {
	padding: 15px;
}

#text button {
	background: transparent;
	border: 0;
	padding: 0;
}

#text button:focus {
	outline: 0;
}

#text p {
	margin: 0;
}

.horizontal {
	height: 50px;
	width: 100%
}

.horizontal_scala {
	margin-top: 2px;
	height: 16px;
	width: 100%
}

.numberPlacing {
	height: 32px;
	width: 100%
}

.numInput {
	width: 50px;
}

.box_model {
height: 40px;
width: 100%;
border: 3px solid transparent;
}

.box {
	border: 3px solid grey;
	height: 100%;
	margin-right:-3px;
	display: inline-block;
}

.box_dotted{
   border-style:dashed;
   height: 100%;
	margin-right:-3px;
	display: inline-block;
         border-right-style: none;
    border-left-style: none;
}

.box.over {
  background: rgba(0, 0, 0, 0.2);
}

.model0.moving,
.model1.moving {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.model0 {
	color:white;
	height: 100%;
	width: 100%;
	background-color: #F64747;
        display: table;
	overflow:hidden;
	position: relative;
	text-align: center;
}
.model1 {
	color:white;
	height: 100%;
	width: 101%;
	background-color: #2574A9;
        display: table;
	overflow:hidden;
	position: relative;
	text-align: center;
}

.boxno15 {
	height: 50px;
	width: 100%;
}

.strech {
	height: 100%;
/*	margin-right: -3px;*/
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.left_arrow, .line, .right_arrow {
	float: left;
}

.line {
	background: black;
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
	height: 4px;
	margin-top: 4px;
}

.left_arrow {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 12px solid black;
	border-bottom: 6px solid transparent;
}

.right_arrow {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-left: 12px solid black;
	border-bottom: 6px solid transparent;
}

/*.left_arrow, .right_arrow {
	z-index: 10;
}
*/
.boxtotalpies, .boxtotalpiesmodel {
	height: 80px;
	width: 30%;
	display: table;
	overflow:hidden;
	position: relative;
}

.boxtotalpies {
	border: 3px solid grey;
}

.boxtotalpiesmodel {
	border: 3px solid transparent;
}

#totalpiesmodel {
	background-color: #3A539B;
	position: absolute; 
	top: 50%;
	display: table-cell; 
	vertical-align: middle;
}

.center_text {
        
	text-align: center;
	position: relative;
	color:white;
}